@use 'styles/constants/colors';
@use 'styles/mixins/flexbox';

.tag {
  @include flexbox.flexbox(center, center);
  padding: 4px 12px;
  font-family: 'Nanum Myeongjo', serif;
  color: colors.$DARK;
  white-space: nowrap;
  background-color: colors.$MIDDLE50;
  border-radius: 10px;
}
