@use 'styles/mixins/flexbox';

.tag {
  @include flexbox.flexbox(center, center);
  padding: 4px 12px;
  font-family: 'Nanum Myeongjo', serif;
  color: var(--color-dark);
  white-space: nowrap;
  background-color: var(--color-middle50);
  border-radius: 10px;
}
