@use 'styles/constants/levels';
@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';

.layoutNavBar {
  width: 100%;
  margin: 20px 0;

  & > ul {
    @include flexbox.flexbox(center, start);
    width: 100%;
    height: sizes.$FONT_SUBTITLE;
    overflow-x: auto;
    overflow-y: hidden;
  }

  &.isPlayPage {
    position: relative;
  }

  .goBackButton {
    position: absolute;
    font-family: 'Nanum Myeongjo', serif;
    font-size: sizes.$FONT_SUBTITLE;
    font-weight: 700;
    line-height: sizes.$FONT_SUBTITLE;
    color: var(--color-dark30);
    transition: color 0.2s ease-in;

    &:hover {
      color: var(--color-dark50);
    }
  }
}

.layoutNavElement {
  margin-right: 16px;

  a {
    font-family: 'Nanum Myeongjo', serif;
    font-size: sizes.$FONT_SUBTITLE;
    font-weight: 700;
    color: var(--color-dark30);
    transition: color 0.2s ease-in;

    &:hover {
      color: var(--color-dark50);
    }

    &.isActive {
      color: var(--color-dark);
    }
  }

  &:last-child {
    margin-right: 0;
  }
}
