@use 'styles/constants/colors';
@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';

.calendarBodyWrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  height: 100%;
}

.calendarButtonWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.dateWrapper {
  @include flexbox.flexbox(between, start);
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: sizes.$FONT_NORMAL;
  line-height: sizes.$FONT_NORMAL;
  color: colors.$DARK;
  user-select: none;
  transition: background-color 0.2s;

  &.songAvailable {
    background-color: colors.$MIDDLE30;

    &:hover {
      background-color: colors.$MIDDLE50;
    }
  }

  &.otherMonthDate {
    color: colors.$DARK30;

    &.songAvailable {
      background-color: colors.$MIDDLE10;
    }
  }
}
