@use 'styles/constants/colors';
@use 'styles/constants/levels';
@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';

.playerComponentWrapper {
  height: 100%;
  font-family: 'Nanum Myeongjo', serif;
  color: colors.$DARK;
}

.playerInformation {
  height: calc(60% - 16px);
  padding: 0 8px;
  margin-top: 16px;

  .playerDate {
    margin-bottom: 8px;
    font-size: sizes.$FONT_SMALL;
    font-style: italic;
    color: colors.$DARK50;
  }

  .playerSongInfo {
    @include flexbox.flexbox(start, center);
    flex-direction: row;
    margin-bottom: 16px;

    dt {
      margin-right: 16px;
      font-size: sizes.$FONT_SUBTITLE;
      font-weight: 700;
    }

    dd {
      color: colors.$DARK50;
    }
  }

  .playerComment {
    max-height: calc(100% - 78px - 23.5px);
    padding: 12px 16px;
    margin-bottom: 16px;
    overflow: auto;
    border: 1px solid colors.$DARK30;
    border-radius: 4px;
  }
}
