@use 'styles/constants/levels';
@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';

.playerComponentWrapper {
  width: 100%;
  height: 100%;
  font-family: 'Nanum Myeongjo', serif;
  color: var(--color-dark);
}

.playerInformation {
  width: 100%;
  height: calc(60% - 16px);
  padding: 0 8px;
  margin-top: 16px;

  .playerDate {
    margin-bottom: 8px;
    font-size: sizes.$FONT_SMALL;
    font-style: italic;
    color: var(--color-dark50);
  }

  .playerComment {
    max-height: calc(100% - 78px - 23.5px);
    padding: 12px 16px;
    margin-bottom: 16px;
    overflow: auto;
    line-height: 20px;
    white-space: pre-wrap;
    user-select: none;
    border: 1px solid var(--color-dark30);
    border-radius: 4px;
  }

  .playerSongInfo {
    margin-bottom: 16px;
  }
}

.recommended {
  @include flexbox.flexbox(end, center);
  width: 100%;
  margin: 10px 0;
  color: var(--color-dark30);
  user-select: none;

  .recommendedName {
    color: var(--color-dark50);
  }

  .recommendedStr {
    font-size: sizes.$FONT_SMALL;
  }
}
