/* main background colors */
$THEME_SUNRISE_1: #f7cd6b;
$THEME_SUNRISE_2: #ea8d57;
$THEME_SUNRISE_3: #140905;

$THEME_DAYLIGHT_1: #278fd0;
$THEME_DAYLIGHT_2: #6aaed9;
$THEME_DAYLIGHT_3: #d3e9f1;

$THEME_SUNSET_1: #333170;
$THEME_SUNSET_2: #b44a7b;
$THEME_SUNSET_3: #f79e7e;

$THEME_NIGHT_1: #141a26;
$THEME_NIGHT_2: #2e3d59;
$THEME_NIGHT_3: #607ea6;

$WHITE: #ffffff;

$LIGHT: #fff9e0;
$LIGHT30: rgba($LIGHT, 30%);
$LIGHT50: rgba($LIGHT, 50%);
$MIDDLE: #f6b94f;
$MIDDLE10: rgba($MIDDLE, 10%);
$MIDDLE30: rgba($MIDDLE, 30%);
$MIDDLE50: rgba($MIDDLE, 50%);
$DARK: #402b23;
$DARK10: rgba($DARK, 10%);
$DARK30: rgba($DARK, 30%);
$DARK50: rgba($DARK, 50%);
