@use 'styles/constants/colors';
@use 'styles/constants/levels';
@use 'styles/mixins/flexbox';

.hoverButton {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: levels.$HOVER_BUTTON;
  width: 70px;
  height: 70px;
  overflow: hidden;
  background-color: colors.$WHITE;
  border-radius: 35px;
  box-shadow: 0 0 16px 4px colors.$LIGHT30;

  .iconWrapper {
    @include flexbox.flexbox(between, center);
    flex-direction: column;
    width: 100%;
    height: 200%;
    padding: 20px;
    transform: rotateZ(90deg);
  }

  svg {
    width: 30px;
    fill: red;
  }
}
