@use 'styles/constants/colors';
@use 'styles/mixins/flexbox';

.layoutBackground {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(colors.$THEME_SUNRISE_1, colors.$THEME_SUNRISE_2 25%, colors.$THEME_SUNRISE_3);
}

.layoutWrapper {
  width: 100%;
  height: 100%;
  padding: 16px;
}
