@use 'styles/constants/colors';
@use 'styles/constants/levels';
@use 'styles/constants/sizes';
@use 'styles/mixins/flexbox';

.layoutBackground {
  @include flexbox.flexbox(center, center);
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(colors.$THEME_SUNRISE_1, colors.$THEME_SUNRISE_2 25%, colors.$THEME_SUNRISE_3);
  transition: background 0.2s;

  :root[color-theme='theme-daylight'] & {
    background: linear-gradient(colors.$THEME_DAYLIGHT_1, colors.$THEME_DAYLIGHT_2 50%, colors.$THEME_DAYLIGHT_3);
  }

  :root[color-theme='theme-sunset'] & {
    background: linear-gradient(colors.$THEME_SUNSET_1, colors.$THEME_SUNSET_2 75%, colors.$THEME_SUNSET_3);
  }

  :root[color-theme='theme-night'] & {
    background: linear-gradient(colors.$THEME_NIGHT_1, colors.$THEME_NIGHT_2 75%, colors.$THEME_NIGHT_3);
  }
}

.layoutWrapper {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  width: 80%;
  max-width: 480px;
  height: 90%;

  & > img {
    width: sizes.$LAYOUT_IMAGE_SIZE;
    height: sizes.$LAYOUT_IMAGE_SIZE;
    object-fit: cover;
  }
}

.layoutContainer {
  width: 100%;
  height: calc(100% - sizes.$LAYOUT_IMAGE_SIZE);
  padding: sizes.$LAYOUT_PADDING;
  background-color: colors.$WHITE;
  border-radius: sizes.$LAYOUT_BORDER_RADIUS;
  box-shadow: 0 0 16px 4px colors.$LIGHT30;

  .layoutHeader {
    margin-bottom: 4px;
    font-family: 'Gowun Batang', serif;
    font-size: sizes.$FONT_TITLE;
    color: colors.$DARK;
    text-align: center;
    user-select: none;
  }

  .layoutSubHeader {
    font-family: Raleway, sans-serif;
    color: colors.$DARK50;
    text-align: center;
    letter-spacing: 0.5px;
    user-select: none;
  }
}
