@use 'styles/mixins/flexbox';

.tagBoxWrapper {
  @include flexbox.flexbox(start, center);
  flex-direction: row;
  width: 100%;
  margin: 16px 0;
  overflow: auto;

  li {
    margin-right: 8px;
  }
}
