@use 'styles/mixins/flexbox';

@keyframes shortlong {
  0% {
    height: 60px;
  }

  40% {
    height: 20px;
  }

  80% {
    height: 60px;
  }
}

.loadingAnimationWrapper {
  @include flexbox.flexbox(center, end);
  flex-direction: row;
  width: 100px;
  height: 80px;

  .loadingAnimation {
    width: 20px;
    height: 60px;
    background-color: var(--color-dark30);
    animation: shortlong 1.5s infinite;

    &:first-child {
      margin-right: 10px;
    }

    &:nth-child(2) {
      animation-delay: 0.4s;
    }

    &:last-child {
      margin-left: 10px;
      animation-delay: 0.8s;
    }
  }
}
